<span style="float: right;">
    {{ 'soe.betting.orderExplanation' | translate}}
</span>

<h1>{{ 'soe.menu.betting' | translate }}</h1>

<soe-fixtures-list></soe-fixtures-list>

<div mdl>
    <div class="material-icons mdl-badge mdl-badge--overlap" id="res_done" data-badge="1">done</div>
    <div class="mdl-tooltip" for="res_done">
        {{ 'soe.betting.reason.pointFor' | translate }}<br>
        {{ 'soe.betting.reason.winner' | translate }}
    </div>

    <div class="material-icons mdl-badge mdl-badge--overlap" id="res_done_all" data-badge="3">done_all</div>
    <div class="mdl-tooltip" for="res_done_all">
        {{ 'soe.betting.reason.pointsFor' | translate:{value:3} }}<br>
        {{ 'soe.betting.reason.goalDifference' | translate }}
    </div>

    <div class="material-icons mdl-badge mdl-badge--overlap" id="res_grade" data-badge="5">grade</div>
    <div class="mdl-tooltip" for="res_grade">
        {{ 'soe.betting.reason.pointsFor' | translate:{value:5} }}<br>
        {{ 'soe.betting.reason.result' | translate }}
    </div>
</div>