<form mdl>
    <div class="mdl-textfield mdl-js-textfield">
        <input type="text" class="mdl-textfield__input" id="firstName" required>
        <label class="mdl-textfield__label" for="firstName">{{ 'soe.registration.firstName' | translate }}</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="lastName" required>
        <label class="mdl-textfield__label" for="lastName">{{ 'soe.registration.lastName' | translate }}</label>
    </div>
</form>