ul.bet-card {
    float: left;
    width: 550px;
    border: 1px solid black;
    margin: 5px;
    padding: 0;
}

.mdl-textfield.bet-card {
    width: 40px;
}

.mdl-textfield.bet-card > label,
.mdl-textfield.bet-card > input {
    text-align: center;
}

form.bet-card {
    margin-top: -10px;
}

.live {
    display: inline;
    background-color: #5cb85c;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.mdl-layout__header .mdl-layout__drawer-button {
    background-color: transparent;
    padding-top: 12px;
}

div.err {
    color: red;
}

a.pointer {
    cursor: pointer;
}

#toast-container {
    margin-top: 60px;
}

.bet-card.firefox.hyphen {
    display: inline-block;
}

@-moz-document url-prefix() { /* Firefox */
    .bet-card.firefox {
        margin-top: -45px;
    }
}

_:-ms-lang(x), .bet-card.firefox { /* IE and Edge */
    margin-top: -45px;
}

img.flag {
    height: 15px;
}

div#bet-champ {
    border: 1px solid red;
    padding: 0;
    margin: 20px 0;
}

footer {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

/* Standings Media Queries */
/*
 * The padding rules are defined according to the devices,
 * but the breaking points (max/min-widths) apply when appropriate for the table.
 */

/* Landscape iPhone 4 */
@media only screen
and (max-width: 550px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    tr.standings th,
    tr.standings td {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }
}

/* Landscape iPhone 5 */
@media only screen
and (max-width: 645px)
and (min-width: 551px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    tr.standings th,
    tr.standings td {
        padding-left: 9px !important;
        padding-right: 9px !important;
    }
}

/* Landscape iPhone 6 */
@media only screen
and (max-width: 730px)
and (min-width: 646px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    tr.standings th,
    tr.standings td {
        padding-left: 14px !important;
        padding-right: 14px !important;
    }
}

/* All Portraits that can't display the whole table */
@media only screen
and (max-device-width: 730px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    tr.standings th:nth-child(4),
    tr.standings td:nth-child(4),
    tr.standings th:nth-child(5),
    tr.standings td:nth-child(5),
    tr.standings th:nth-child(6),
    tr.standings td:nth-child(6),
    tr.standings th:nth-child(7),
    tr.standings td:nth-child(7),
    tr.standings th:nth-child(8),
    tr.standings td:nth-child(8) {
        display: none !important;
    }
}

/* Portrait <iPhone 5 */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    tr.standings th,
    tr.standings td {
        padding-left: 9px !important;
        padding-right: 9px !important;
    }
}

/* Portrait >=iPhone 5 */
@media only screen
and (min-device-width: 321px)
and (max-device-width: 730px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    tr.standings th,
    tr.standings td {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}