ul.bet-card {
    float: left;
    width: 550px;
    border: 1px solid black;
    margin: 5px;
    padding: 0;
}

.mdl-textfield.bet-card {
    width: 40px;
}

.mdl-textfield.bet-card > label,
.mdl-textfield.bet-card > input {
    text-align: center;
}

form.bet-card {
    margin-top: -10px;
}

.live {
    display: inline;
    background-color: #5cb85c;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.mdl-layout__header .mdl-layout__drawer-button {
    background-color: transparent;
    padding-top: 9px;
}

div.err {
    color: red;
}

a.pointer {
    cursor: pointer;
}

#toast-container {
    margin-top: 60px;
}