<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{{ 'soe.title' | translate }} {{ version }}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" [routerLink]="['/bets']" *ngIf="!!user">
                    {{ 'soe.menu.betting' | translate}}
                </a>
                <a class="mdl-navigation__link" [routerLink]="['/']">
                    {{ 'soe.menu.standings' | translate}}
                </a>
                <a class="mdl-navigation__link" [routerLink]="['/payment']">
                    {{ 'soe.menu.payment' | translate}}
                </a>
                <a class="mdl-navigation__link" [routerLink]="['/login']" *ngIf="!user">
                    {{ 'soe.menu.login' | translate}}
                </a>
                <a class="mdl-navigation__link" [routerLink]="['/registration']" *ngIf="!user">
                    {{ 'soe.menu.registration' | translate}}
                </a>
                <a class="mdl-navigation__link pointer" (click)="logout()" *ngIf="!!user">
                    {{ 'soe.menu.logout' | translate}}
                </a>
                <a class="mdl-navigation__link pointer" href="https://github.com/Zemke/tippspiel" target="_blank">
                    GitHub
                </a>
                <a class="mdl-navigation__link pointer" href="mailto:florian.zemke@btc-ag.com">
                    {{ 'soe.menu.contact' | translate}}
                </a>
                <a class="mdl-navigation__link pointer" (click)="switchLang()">
                    DE/EN
                </a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ 'soe.title' | translate }} {{ version }}</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" [routerLink]="['/bets']" *ngIf="!!user">
                {{ 'soe.menu.betting' | translate}}
            </a>
            <a class="mdl-navigation__link" [routerLink]="['/']">
                {{ 'soe.menu.standings' | translate}}
            </a>
            <a class="mdl-navigation__link" [routerLink]="['/payment']">
                {{ 'soe.menu.payment' | translate}}
            </a>
            <a class="mdl-navigation__link" [routerLink]="['/login']" *ngIf="!user">
                {{ 'soe.menu.login' | translate}}
            </a>
            <a class="mdl-navigation__link" [routerLink]="['/registration']" *ngIf="!user">
                {{ 'soe.menu.registration' | translate}}
            </a>
            <a class="mdl-navigation__link pointer" (click)="logout()" *ngIf="!!user">
                {{ 'soe.menu.logout' | translate}}
            </a>
            <a class="mdl-navigation__link pointer" href="https://github.com/Zemke/tippspiel" target="_blank">
                GitHub
            </a>
            <a class="mdl-navigation__link pointer" href="mailto:florian.zemke@btc-ag.com">
                {{ 'soe.menu.contact' | translate}}
            </a>
            <a class="mdl-navigation__link pointer" (click)="switchLang()">
                DE/EN
            </a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <!-- Routed views go here -->
                    <!-- Magic insertion in 3, 2, 1...  -->
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </main>
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__right-section">
            <ul class="mdl-mini-footer__link-list">
                <li>
                    <a href="https://www.raspberrypi.org/">
                        <img src="powered-pi.svg"
                             alt="Powered by Raspberry Pi" title="Powered by Raspberry Pi">
                    </a>
                    Thanks, Sönke!
                </li>
            </ul>
        </div>
    </footer>
</div>