<div class="mdl-cell mdl-cell--12-col">
    <h1>{{ 'soe.menu.login' | translate }}</h1>
    <div class="err" *ngIf="error">{{ error | translate }}</div>
</div>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm" mdl novalidate>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield">
                <input type="email" class="mdl-textfield__input" id="email" [(ngModel)]="user.email" ngControl="email"
                       required>
                <label class="mdl-textfield__label" for="email">
                    {{ 'soe.registration.email' | translate }}
                </label>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield">
                <input type="password" class="mdl-textfield__input" id="password" [(ngModel)]="user.password"
                       ngControl="password" required>
                <label class="mdl-textfield__label" for="password">
                    {{ 'soe.registration.password' | translate }}
                </label>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    [disabled]="!loginForm.form.valid">
                {{ 'soe.registration.login' | translate }}
            </button>
        </div>
    </div>
</form>