<table *ngIf="standings" mdl class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr class="standings">
        <th>#</th>
        <th class="mdl-data-table__cell--non-numeric">{{ 'soe.table.head.name' | translate }}</th>
        <th>{{ 'soe.table.head.points' | translate }}</th>
        <th><soe-bet-result [valuation]="5"></soe-bet-result></th>
        <th><soe-bet-result [valuation]="3"></soe-bet-result></th>
        <th><soe-bet-result [valuation]="1"></soe-bet-result></th>
        <th><soe-bet-result [valuation]="0"></soe-bet-result></th>
        <th><soe-bet-result [valuation]="-1"></soe-bet-result></th>
        <th class="mdl-data-table__cell--non-numeric">
            <div class="material-icons mdl-badge mdl-badge--overlap" id="champBetValuation" data-badge="10">grade</div>
            <div class="mdl-tooltip" for="champBetValuation">
                {{ 'soe.betting.reason.pointsFor' | translate:{value:10} }}<br>
                {{ 'soe.betting.reason.champ' | translate }}
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let standing of standings; let rank = index" class="standings">
        <td>
            <span [ngStyle]="{'color': (rank + 1 == 1) ? '#DAA520' : ''}">
                {{ rank + 1 }}
            </span>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            <a [routerLink]="['/user-bets', standing.user.id]">
                {{ standing.user.first_name }} {{ standing.user.last_name }}
            </a>
        </td>
        <td><strong>{{ standing.points }}</strong></td>
        <td>{{ standing.p5 }}</td>
        <td>{{ standing.p3 }}</td>
        <td>{{ standing.p1 }}</td>
        <td>{{ standing.p0 }}</td>
        <td>{{ standing.missed }}</td>
        <td class="mdl-data-table__cell--non-numeric">
            <img *ngIf="standing.team" [attr.id]="'champBet' + rank" [attr.src]="standing.team.crestUrl" class="flag">
            <div *ngIf="standing.team" class="mdl-tooltip" [attr.for]="'champBet' + rank"
                 [attr.alt]="'soe.team.' + standing.team.name | translate"
                 [attr.title]="'soe.team.' + standing.team.name | translate">
                {{ 'soe.team.' + standing.team.name | translate }}
            </div>
        </td>
    </tr>
    </tbody>
</table>